In [2]:
import numpy as np
import pandas as pd

In [3]:
df = pd.read_csv("Used_Bikes.csv")
df
# print(df)

,bike_name,price,city,kms_driven,owner,age,power,brand
0,TVS Star City Plus Dual Tone 110cc,35000.0,Ahmedabad,17654.0,First Owner,3.0,110.0,TVS
1,Royal Enfield Classic 350cc,119900.0,Delhi,11000.0,First Owner,4.0,350.0,Royal Enfield
2,Triumph Daytona 675R,600000.0,Delhi,110.0,First Owner,8.0,675.0,Triumph
3,TVS Apache RTR 180cc,65000.0,Bangalore,16329.0,First Owner,4.0,180.0,TVS
4,Yamaha FZ S V 2.0 150cc-Ltd. Edition,80000.0,Bangalore,10000.0,First Owner,3.0,150.0,Yamaha
...,...,...,...,...,...,...,...,...
32643,Hero Passion Pro 100cc,39000.0,Delhi,22000.0,First Owner,4.0,100.0,Hero
32644,TVS Apache RTR 180cc,30000.0,Karnal,6639.0,First Owner,9.0,180.0,TVS
32645,Bajaj Avenger Street 220,60000.0,Delhi,20373.0,First Owner,6.0,220.0,Bajaj
32646,Hero Super Splendor 125cc,15600.0,Jaipur,84186.0,First Owner,16.0,125.0,Hero
32647,Bajaj Pulsar 150cc,22000.0,Pune,60857.0,First Owner,13.0,150.0,Bajaj

In [ ]:
# •	1     Find out the no. of record for each ownership bike.
# •	2     Find out the no. of bikes, who has “First Owner” and age <=5.
# •	3     Find out the bikes at Jaipur location, price under in 60K.
# •	4 Find out the bikes of KTM brand who has minimum and maximum price.

In [33]:
# max_ktm =  df[(df["brand"] == "KTM") & (df["price"]== df['price'].min())]
ktm = df[(df["price"]== df['price'].min()]

# max_ktm

AttributeError: 'Series' object has no attribute 'df'

In [20]:
#2

bikes_fetch = df[(df['owner']== "First Owner") & (df['city']== 'Jaipur')& (df["age" ]<= 5)]
bikes_fetch

,bike_name,price,city,kms_driven,owner,age,power,brand
47,Mahindra Centuro NXT 110cc,28000.0,Jaipur,45000.0,First Owner,2.0,110.0,Mahindra
166,Royal Enfield Classic 350cc,123600.0,Jaipur,7702.0,First Owner,3.0,350.0,Royal Enfield
617,Suzuki Hayabusa 1300cc,1260000.0,Jaipur,17000.0,First Owner,4.0,1300.0,Suzuki
784,Bajaj Pulsar RS200 ABS,100000.0,Jaipur,11760.0,First Owner,4.0,200.0,Bajaj
972,Yamaha FZ25 250cc,105000.0,Jaipur,10468.0,First Owner,2.0,250.0,Yamaha
...,...,...,...,...,...,...,...,...
8074,TVS Apache RTR 180cc,65000.0,Jaipur,12061.0,First Owner,4.0,180.0,TVS
8461,Royal Enfield Classic Squadron Blue 500cc,160000.0,Jaipur,8000.0,First Owner,5.0,500.0,Royal Enfield
8921,Bajaj Pulsar RS200,110000.0,Jaipur,25232.0,First Owner,5.0,200.0,Bajaj
9187,Harley-Davidson Street 750 ABS,520000.0,Jaipur,399.0,First Owner,2.0,750.0,Harley-Davidson
9259,Yamaha Saluto RX 110cc,37000.0,Jaipur,8030.0,First Owner,4.0,110.0,Yamaha

In [17]:
#

bikes_fetch = df[(df["brand"] == "KTM") & (df['price'].max())]
bikes_fetch

TypeError: Cannot perform 'and_' with a dtyped [bool] array and scalar of type [bool]

In [14]:
CNT = df['price'].max()
CNT

1900000.0

In [11]:
#1
# RAND

CNT = df['owner'].value_counts()
CNT

First Owner             29964
Second Owner             2564
Third Owner               108
Fourth Owner Or More       12
Name: owner, dtype: int64

In [6]:
#3
bikes_fetch = df[(df["brand"] == "TVS") & (df["city"] == "Jaipur") & (df["price" ]<= 60000)]
bikes_fetch

,bike_name,price,city,kms_driven,owner,age,power,brand
2302,TVS Apache RTR 160cc,19542.0,Jaipur,56592.0,First Owner,9.0,160.0,TVS
2395,TVS Apache RTR 160cc,19542.0,Jaipur,56592.0,First Owner,9.0,160.0,TVS
3364,TVS Star City Plus 110cc,30000.0,Jaipur,27000.0,First Owner,6.0,110.0,TVS
3904,TVS Apache RTR 160cc,51000.0,Jaipur,18314.0,First Owner,7.0,160.0,TVS
3907,TVS Apache RTR 160cc,47000.0,Jaipur,26000.0,First Owner,8.0,160.0,TVS
3920,TVS Star City 110cc,26500.0,Jaipur,2342.0,First Owner,9.0,110.0,TVS
3922,TVS Star City 110cc,26000.0,Jaipur,24000.0,First Owner,7.0,110.0,TVS
4063,TVS Sport 100cc,33000.0,Jaipur,18677.0,First Owner,6.0,100.0,TVS
4181,TVS Apache RTR 160cc,51000.0,Jaipur,18314.0,First Owner,7.0,160.0,TVS
4607,TVS Sport 100cc,23000.0,Jaipur,28895.0,First Owner,8.0,100.0,TVS
4851,TVS Apache RTR 160cc,45000.0,Jaipur,20431.0,First Owner,7.0,160.0,TVS
4886,TVS Apache RTR 180cc ABS,59900.0,Jaipur,32000.0,First Owner,5.0,180.0,TVS
4914,TVS Apache RTR 180cc ABS,59900.0,Jaipur,32000.0,First Owner,5.0,180.0,TVS
5970,TVS Star City 110cc,22000.0,Jaipur,31000.0,First Owner,10.0,110.0,TVS
6068,TVS Sport 100cc,31000.0,Jaipur,20000.0,First Owner,7.0,100.0,TVS
6075,TVS Star Sport 100cc,25000.0,Jaipur,22620.0,First Owner,9.0,100.0,TVS
6076,TVS Apache RTR 180cc,24000.0,Jaipur,20885.0,First Owner,14.0,180.0,TVS
6301,TVS Star Sport 100cc,34000.0,Jaipur,11536.0,First Owner,5.0,100.0,TVS
6310,TVS Sport 100cc,34000.0,Jaipur,4474.0,First Owner,3.0,100.0,TVS
6415,TVS Apache RTR 180cc,58000.0,Jaipur,18583.0,First Owner,6.0,180.0,TVS
6547,TVS Sport 100cc,31000.0,Jaipur,20000.0,First Owner,7.0,100.0,TVS
6554,TVS Star Sport 100cc,25000.0,Jaipur,22620.0,First Owner,9.0,100.0,TVS
6555,TVS Apache RTR 180cc,24000.0,Jaipur,20885.0,First Owner,14.0,180.0,TVS
7099,TVS Star City 110cc,22000.0,Jaipur,31000.0,First Owner,10.0,110.0,TVS
7138,TVS Sport 100cc,34000.0,Jaipur,4474.0,First Owner,3.0,100.0,TVS
7712,TVS Star Sport 100cc,31599.0,Jaipur,19111.0,First Owner,8.0,100.0,TVS
8924,TVS Apache RTR 160cc,51000.0,Jaipur,23000.0,Second Owner,6.0,160.0,TVS
9157,TVS Star City 110cc,32000.0,Jaipur,17870.0,First Owner,7.0,110.0,TVS
9163,TVS Star Sport 100cc,31599.0,Jaipur,19111.0,First Owner,8.0,100.0,TVS